@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(96, 223, 223);
}

header > h1{
    text-align: center;
    color: white;
    font-size: 50px;
    padding: 20px;
    text-shadow: 2px 2px 2px black;
}

main{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    width: 700px;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 12px;

}

footer > p{
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    
}

select{
    display: block;
    margin-top: 10px;
    border-radius: 10px;
    border: 3px solid black;
}

button{
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: gainsboro;
   
    transition: 0.2s ease;
}

button:hover{
    transform: translate(-5px, -5px);
    box-shadow: 3px 3px 5px gray;
    cursor: pointer;
}

section{
    margin: 20px;
}

.info{
    margin-top: 20px;
}